<navbar (drawerToggle)="toggleDrawer()"></navbar>
<mat-drawer-container class="top-down-drawer-container">
    <mat-drawer #drawer mode="over" [opened]="draweropend" class="drawer">
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>inbox</mat-icon><a routerLink="">Inbox</a>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>send</mat-icon><a routerLink="/">Sent</a>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>mail</mat-icon><a routerLink="/">Primary</a>
          </button>
        </mat-list-item>

      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content>
      <div class="main">
     
        <app-content></app-content>
        <app-footer></app-footer>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  