html body{
    width: 100%;
    /* overflow-x:hidden; */
}
.main{
    background-image: image-set('https://cdn.wallpapersafari.com/32/3/S1jatp.jpg');
    background-size: cover;
}

.drawer{
    width: 24%;
    background-image: image-set('https://cdn.wallpapersafari.com/32/3/S1jatp.jpg');
    background-size: cover;
}

.drawer button{
    width: 100%;
    background-color: transparent;
    border: 0.7px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    padding: 10px;
    border-radius: 15px;
    font-size: 17px;
}

.drawer button:hover{
    background-color: rgb(99, 185, 99);
    color: white;
    font-weight: bold;
}

    @media   (min-width : 220px) and (max-width : 550px){
        .drawer{
            width: 90%;
        }

        .drawer button {
            height: 37px;
           border-radius: 15px;
        }

        .drawer button{
            font-size: 15px;
        }
    }

