.content{
    width: 99%;
    height: auto;
    /* background-color: aquamarine; */
    padding-top: 20px;
} 

.content form{
width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    border: 1.5px solid gray;
    border-radius: 10px;
}


.content form div p{
font-size: 18px;
margin:20px 20px;
color: white;
}



.content form div input{
    margin:-10px 20px;
    width: 90%;
    height: 30px;
    outline: none;
    border: 1px solid rgb(140, 114, 75);
    border-radius: 2px;
    font-size: 17px;
    background: transparent;
    color: white;
}

textarea{
    margin:-10px 20px 20px 20px;
    width: 90%;
    outline: none;
    font-size: 17px;
    border: 1px solid rgb(140, 114, 75);
    border-radius: 2px;
    background: transparent;
    color: white;
  
}

textarea::-webkit-scrollbar {
    width: 10px;
}

.content form div #file{
    padding: 3px;
    margin-bottom: 5px;
}
.content form button{
    width: 35%;
    height: 30px;
    border: 0.7px solid green;
    border-radius: 7px;
    margin: 10px  auto;
    font-size: 17px;
    background: transparent;
    color: white;
}

.content form button span{
    position: relative;
    bottom: 5.5px;
    right:  12px;
}

.content form button:hover{
    background-color: rgb(99, 185, 99);
    color: white;
    font-weight: bold;
}


.rotate-up {
    transform: rotate(270deg); 
    color: whitesmoke;
    width: 50px;
    height: 50px;
    font-size: 35px;
    margin-left: 10px;
  }

 
  
  /* Class for a blue background */
  ::ng-deep .snackbar {
    --mdc-snackbar-container-color:white;
    --mdc-snackbar-supporting-text-color:black;
   
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  
  
  .loading-overlay p {
    color: white;
    margin-top: 10px;
  }
  
  
  
@media (min-width:200px) and (max-width:470px) {
    .content{
        width: 99%;
        height: auto;
        padding-top: 20px;
    } 
    
    .content form{
    width: 98%;
     border: none;
    }
    
    
    /* .content form div p{
   
    } */
    
    
    
    .content form div input{
        margin:-10px 15px;
        width: 90%;
    }
    
    textarea{
        margin:-10px 15px 15px 15px;
        width: 90%;
        outline: none;
        font-size: 17px;
        border: 1px solid rgb(140, 114, 75);
        border-radius: 2px;
        background: transparent;
        color: white;
    }
    
    
    .content form button{
        width: 35%;
        height: 30px;
        border: 0.7px solid green;
        border-radius: 7px;
        margin: 10px  auto;
        font-size: 17px;
        background: transparent;
        color: white;
    }
    
    .content form button span{
        display: none;
    }
    .content form button:hover{
        background-color: rgb(99, 185, 99);
        color: white;
        font-weight: bold;
    }
    
    
}