/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::ng-deep .success-snackbar {
    background-color: #4caf50 !important; /* Green background */
    color: white !important;
    font-size: 100px !important; /* Large font size */
  }
  