<footer style="background-color:transparent; padding: 20px; text-align: center; font-family: Arial, sans-serif; border-top: 1px solid #ddd; margin-top: 15px;">
    <p style="margin: 0; font-size: 14px; color: whitesmoke;">
      © 2024 All Rights Reserved By Sandip Raju Rathod.
    </p>
    <p style="margin: 5px 0; font-size: 14px; color: white;">
      Contact us: sandiprathod2667&#64;gmail.com
    </p>
    <p style="margin: 5px 0; font-size: 14px; color: white;">
      Follow us:
      <a href="https://x.com/SandipR_Rathod?s=08" target="_blank" style="margin: 0 5px; text-decoration: none;">
    <i class="fab fa-x" style=" color: white; font-size: 20px;"></i>
      </a>
      |
      <a href="https://www.instagram.com/s_a_n_d_i_p_r2?igsh=NHRzNmhzMXBhejg=" target="_blank" style="margin: 0 5px; color: #007bff; text-decoration: none;">
        <i class="fab fa-instagram" style=" color: white; font-size: 20px;"></i>
      </a>
      |
      <a href="https://www.linkedin.com/in/sandip-rathod-932291235"  target="_blank"style="margin: 0 5px; color: #007bff; text-decoration: none;">
    <i class="fab fa-linkedin" style="color: white; font-size: 20px;"></i>
      </a>
    </p>
  </footer>
  

  